.sponsers-container {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: var(--white);
    padding: 1rem;
    gap: 0.5rem;
}

.sponsers-main-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}