.sponsers-container {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: var(--white);
}

.sponsers-main-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}