.map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        margin-top: 1rem;
        text-align: right;
        direction: rtl;
    }
}