* {
    // outline: 0.5px solid red !important;
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

    a {
        all: unset;
        text-decoration: none;
        /* no underline */

    }

}

.pointer{
    cursor: pointer;
}

* {
    font-family: General-Font;
}

body {
    color: var(--fontColorDark);
}

.visible-class{
    visibility: visible;
}
.hide-class{
    visibility: hidden;
}

.block-class{
    display: block;

}

.none-class{
    display: none;
}

.vh-80 {
    height: 80vh
}

.sign-btn {
    margin-top: 5rem;
    background-color: var(--BackgroundColor);
}

.sign-btn-oposite {
    background-color: var(--white) !important;
    // color: var(--BackgroundColor) !important;
    color: var(--fontColorDark) !important; 


}

.titleText {
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: center;
    margin: 4rem auto;
    font-size: 1rem;
}

.button-border{
    border-radius: 1rem;
}

.add-padding{
    padding: 1rem;
}

.attached-top-bottom{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.margin-top-auto{
    margin-top: auto;
}

