:root {
    --backgroundColor: #fff;
    --fontColorLite: #ECECEC;
    --fontColorDark: black;
    --BackgroundColor: yellow;
    --coverImage: url("../../assets/images/background.jpeg")
}

$headerbackgroundColor: #fff;
$lightGreyBackgroundColor: rgb(242, 242, 242);
$clrRED: #FE385C;
$clrBLACK: #222222;
$clrGRAY : #B0B0B0;
$bgc : #F7F7F7;
$lite-font-color: #717171;
$headerFontColor: #B0B0B0;

