/* MOBILE ONLY  */

@media (max-width: 640px) {

    .sponsers-container{

        
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))
    }

    body{
        padding-bottom: 10rem;
    }

    .contact-img {
        display: none;
    }

    .enrollment-table{
        padding: 1rem !important;
        p{
            padding: 1rem !important;
        }

    } 

    .titleText{
        visibility: hidden;
        text-align: right !important;
        padding-right: 2rem;
    }

    .map-container {
        padding: 3rem 2%;
    }

    .sponsers-container {
        margin-bottom: 4rem;

    }

    .exist-page{
        visibility: visible;
        width: 100%;
        text-align: right;
        margin-right: 1rem;
        // display: none;
    }

    .footer-container{
        display: none !important;
    }


    .main-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }




    .navbar {
        visibility: hidden;

        ul {
            padding: 0;
            padding-top: 5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            z-index: -1;
            flex-direction: column;
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            gap: 0.5rem;
            top: 64px;
            background-color: var(--BackgroundColor);
            flex-direction: column-reverse;
            justify-content: start;

            li {
                font-size: 1rem;
                text-align: center;
                padding: 1rem;
                border-bottom: 1px solid var(--fontColorJson);


            }
        }
    }



    .log-in-modal {
        position: fixed !important;
        bottom: 0;
        top: unset !important;
        width: 100%;
        right: 0;
        border-bottom-left-radius: unset !important;
        flex-direction: column-reverse !important;


        // visibility: hidden;
    }



    .main-nav {
        width: 85%;
        margin: auto;
        display: unset;
        margin-top: 1rem;
        height: unset;
    }

    .countdown-container {

        // display: none !important;
    }



}



// tablet
@media (min-width: 640px) {

    .exist-page{
        visibility: hidden;
    }

    .sponsers-container{

        
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    }

    .map-container {
        padding: 3rem 20%;
    }



    .navbar {
        ul {
            li {
                margin-left: 1rem;
            }
        }
    }

    // .close{
    //     display: none;
    // }

    .hamburger {
        display: none !important;
    }

    .main-footer {
        * {

            font-size: 0.9em !important;
        }
    }


}

// /* LARGE */

@media (min-width: 920px) {

    .main-footer {
        * {

            font-size: 1em !important;
        }
    }


}