.main-details-container {
    .first-img {
        width: 100%;
        padding: 2rem 2rem 2rem 1rem;
        height: 20rem;
        margin-bottom: 5rem;
        
        
        img {
            box-shadow: 1rem 1.25rem var(--BackgroundColor);
            height: 20rem;
            border-radius: 1rem;
            aspect-ratio: 16/9;
            object-fit: cover;
            width: 100%
        }
    }

    .seconed-img {
        width: 100%;
        background-color: var(--BackgroundColor);
        height: 20rem;
        border-radius: 1rem;
        margin-top: -19rem;
        margin-left: 1rem
    }
}



.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.categories{
    div{
        h3:first-child{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.meeting-point{
    text-align: center;
    a{
        cursor: pointer;
    }
    img{
        height: 4rem;
    }
}