.main-details-container {
    .first-img {
        width: 100%;
        padding: 2rem 2rem 2rem 1rem;
        height: 20rem;
        margin-bottom: 5rem;
        
        img {
            height: 20rem;
            border-radius: 1rem;
            aspect-ratio: 16/9;
            object-fit: cover;
            width: 100%
        }
    }

    .seconed-img {
        width: 100%;
        background-color: var(--secondaryColor);
        height: 20rem;
        border-radius: 1rem;
        margin-top: -19rem;
        margin-left: 1rem
    }
}

.DetailsContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: right;
    align-items: right;
    direction: rtl;
    padding: 1rem;

    div{
        text-align: right;
    }


    table {
        // margin: 0 auto;
        border-collapse: collapse;
        direction: ltr;
        

        td,
        tr,
        th {
            direction: rtl;
            border: 1px solid lightgray;

        }

        th {
            background-color: lightgrey;
        }
    }

}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.categories{
    div{
        h3:first-child{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.meeting-point{
    text-align: center;
    a{
        cursor: pointer;
    }
    img{
        height: 4rem;
    }
}