.main-details-container {
    .first-img {
        width: 100%;
        padding: 2rem 2rem 2rem 1rem;
        height: 20rem;
        margin-bottom: 5rem;


        img {
            box-shadow: 1rem 1.25rem var(--BackgroundColor);
            height: 20rem;
            border-radius: 1rem;
            aspect-ratio: 16/9;
            object-fit: cover;
            width: 100%
        }
    }

    .seconed-img {
        width: 100%;
        background-color: var(--BackgroundColor);
        height: 20rem;
        border-radius: 1rem;
        margin-top: -19rem;
        margin-left: 1rem
    }
}

.custom-notes {
    padding: 1rem;
    h3 {
        text-align: right;
    }
}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.categories {
    div {
        h3:first-child {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.json-par{
    border: 1px var(--BackgroundColor) solid;
    border-radius: 1rem;
    padding: 2rem 2rem 2rem 1rem;
    box-shadow: 1rem 1.25rem var(--BackgroundColor);
    margin: 0 1rem;
    a{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        z-index: 22222222222;
    }
}

.custom-notes{
    display: flex;
}

