.sponser-card {
    cursor: pointer;
    display: flex;
    aspect-ratio: 1/1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    border: 1px solid #ddd;
    margin: 1rem;
    border-radius: 12px;
    z-index: 8;
    text-align: center;

    img {
        width: 7rem;
    }
}